.DS_Store
.idea
/NEURON/x86_64
/NeuroML2/rates.dat
/NeuroML2/WC_slow.dat
/NeuroML2/WC_driven.dat
/NeuroML2/*.mod
/NeuroML2/x86_64
/NeuroML2/*_nrn.py
/NeuroML2/*.pov
/Python/*.dat
/Python/*.dat
/notebooks/.ipynb_checkpoints
/NeuroML2/*.dat
/NeuroML2/*.gv
/NeuroML2/report.*.txt
/NeuroML2/LEMS_SimExample1.xml
/NeuroML2/*.gv*
/NeuroML2/ParamSweep_*
*.pyc
/NeuroML2/LEMS_SimWC.xml
/NeuroML2/clean.sh
/NeuroML2/test_files/LEMS_SimSpiking.xml
*_nrn.py
*.spikes
/NeuroML2/test_files/*.dat
/NeuroML2/test_files/x86_64
*.gv*
/NeuroML2/test_files/*.mod
/NeuroML2/test_files/report.*.txt
/NeuroML2/LEMS_SimWC.png
/NeuroML2/report.txt
